@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/plugins/pager.js"></script>

<div class="jumbotron">
    <h1>Your.Face</h1>
    <p class="lead">Your.Face is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

